{% load staticfiles %}
<doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   </head>
  <body>

{% load staticfiles %}
{% include 'head.html' %}<br><br>


<link rel="stylesheet" href="{% static 'css/nav.css' %}">

<div class="container">
  <nav>
  <ul class="nav">
    <li><a href="/index/">Home</a></li>
    <li><a href="/adminlogin/">Admin</a></li>
      <li><a href="/policelogin/">Police</a></li>
    <li><a href="/detectivelogin/">Detective</a></li>
        <li><a href="/citizenlogin/">Citizen</a></li>
      </ul>
   </nav>
</div><br>
<br>
<form action="/savecitizen/" method="post">
    {% csrf_token %}

<table align="center" >
    <tr>
        <th colspan="2"><center><font size="5" face="Arial Black">
            Registation</font></center>
        </th>
        </tr>
    <tr>
    <th>
        Citizen_name:
    </th>
     <th>
        <input type="text" name="citizen_name" required>
        </th>
    </tr>
    <tr>
    <th>
        Date_Of_Birth:
    </th>
     <th>
        <input type="date" name="date_of_birth" required placeholder="">
        </th>
    </tr>
    <tr>
    <th>
        Email_Id:
    </th>
     <th>
        <input type="email" name="email" required placeholder="">
        </th>
    </tr>
    <tr>
    <th>
        Gender:
    </th>
     <th>
         <input type="radio" value="Male" name="gender" >Male
         <input type="radio" value="Female" name="gender" >Female
        </th>
    </tr>

    <tr>
    <th>
        Mobile_No:
    </th>
     <th>
        <input type="number" name="mobile_no" required placeholder="">
        </th>
    </tr>
    <tr>
    <th>
        Address:
    </th>
     <th>
        <input type="text" name="address" required placeholder="">
        </th>
    </tr>
    <tr>
    <th>
        Username:
    </th>
     <th>
        <input type="text" name="username" required placeholder="">
        </th>
    </tr>
    <tr>
    <th>
        Password:
    </th>
     <th>
        <input type="password" name="password" required placeholder="">
        </th>
    </tr>
    <tr><th height="10"></th></tr>
    <tr><th colspan="2"><center><button type="submit">Register</button></center> </th></tr>
</table>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html></doctype>