{% load staticfiles %}
<doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   </head>
  <body>

{% load staticfiles %}
{% include 'head.html' %}<br><br>


<link rel="stylesheet" href="{% static 'css/nav.css' %}">

<div class="container">
  <nav>
  <ul class="nav">
    <li><a href="/index/">Home</a></li>
    <li><a href="#">Send Complients</a>
     <ul>
                <li><a href="/addcomplients/">Add Complients</a></li>
                <li><a href="/updatecomplients/">Update Complients</a></li>
                <li><a href="/viewcomplients/">View Complients</a></li>
                <li><a href="/deletecomplients/">Delete Complients</a></li>
        </ul>
    </li>
        <li><a href="#">Complients Status</a>
            <ul>
                <li><a href="/viewstatus/">Complients Status</a></li>
                <li><a href="/viewcitizencomplet/">Complients Report</a></li>
                <li><a href="/updatestatus/">Update Complients Status</a></li>
                <li><a href="/deletecitizen/">Delete Complients Status</a></li>
        </ul>
        </li>

       <li><a href="/index/">Logout</a></li>
      </ul>
   </nav>
</div><br>
<form action="/savecomplent/" method="post">
    {% csrf_token %}
<table align="center">
    {% for x in data %}
    <tr>
         <th colspan="2"><center><font size="5" face="Arial Black">
            Register Complent</font></center>
        </th>
    </tr>

        <tr>
        <th>
            Complent_Id:
        </th>
        <th>
            <input type="number" value="{{ x.complent_id }}" name="id" readonly>
        </th>
        </tr>
    <tr>
        <th>
        Citizen_Name:
        </th>
        <th>
            <input type="text" value="{{ x.complient_name }}" name="name" readonly>

        </th>
    </tr>
     <tr>
        <th>
        Date & Time:
        </th>
        <th>
            <input type="datetime-local" value="{{ x.date_of_complent }}" name="date" required>
        </th>
    </tr>
     <tr>
        <th>
        Complent_Type:
        </th>
        <th>
            <select name="complent_type">
                <option>Missing Complent</option>
                <option>Murder</option>
                <option>Half Murder</option>
                <option>Theft  </option>
                <option>Harassment  </option>
                <option>Inappropriate Behavior</option>
            </select>
        </th>
    </tr>
    <tr>
        <th>
            Description:
        </th>
        <th>
            <input type="text" name="description" value="{{ x.description }}" required width="25" height="25">
        </th>
    </tr>
    <tr>
        <th>
            Proof:
        </th>
        <th>
            <input type="file" name="proof" required>
        </th>
    </tr>
    <tr>
        <th>
            Location:
        </th>
        <th>
            <input type="text" name="location" value="{{ x.location }}" readonly>
        </th>
    </tr>
    <tr>

        <th>
            Station_id:
        </th>
        <th>
            <input type="number" name="s_id" value="{{ x.station_id }}" required>

        </th>
    </tr>
<tr>
    <th colspan="2"><center>
        <button  type="submit"> Update</button>
    </center>
    </th>
</tr>
    {% endfor %}
</table>
</form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html></doctype>