{% load staticfiles %}
<doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   </head>
  <body>

{% load staticfiles %}
{% include 'head.html' %}<br><br>


<link rel="stylesheet" href="{% static 'css/nav.css' %}">

<div class="container">
  <nav>
  <ul class="nav">
    <li><a href="/index/">Home</a></li>
         <li><a href="#">Police</a>
             <ul>
                <li><a href="/addpolice/">Add Police</a></li>
                <li><a href="/updatepolice/">Update Police</a></li>
                <li><a href="/viewpolice/">View Police</a></li>
                <li><a href="/deletepolice/">Delete Police</a></li>
               </ul></li>
    <li><a href="#">Detective</a>
     <ul>
                <li><a href="/adddetective/">Add Detective</a></li>
                <li><a href="/updatedetective/">Update Detective</a></li>
                <li><a href="/viewdetective/">View Detective</a></li>
                <li><a href="/deletedetective/">Delete Detective</a></li>
                </ul>
    </li>
        <li><a href="#">Citizen Details</a>
            <ul>
                <li><a href="/viewcitizen/">View Citizen Details</a></li>
                <li><a href="/viewcitizencomplet/">View Citizen Copmlate</a></li>
                <li><a href="/deletecitizen/">Delete Citizen</a></li>
             </ul>
        </li>
       <li><a href="#">Station</a>
           <ul>
               <li><a href="/addstations/">Add Station</a></li>
                <li><a href="/updatestation/">Update Station</a></li>
                <li><a href="/viwestation/">View Station</a></li>
                <li><a href="/deletestation/">Delete Station</a></li>
              </ul>
       </li>
       <li><a href="/index/">Logout</a></li>
      </ul>
   </nav>
</div><br>
<br><center>
<table align="centre" bgcolor="#fffafa" border="2">
 <tr>
        <th colspan="10"><center><font size="5" face="Arial Black">
           Complente Details</font></center>
        </th>
    <tr>
        <th>Complent_Id</th>
        <th>Complent_type</th>
        <th>Complient_Name</th>
        <th>Complent_Date</th>
        <th>Complent_Discription</th>
        <th>Proof</th>
        <th>Station_id</th>
        <th>Locaton</th>
        </tr>
    {%  for x in object_list %}
    <tr>
        <th>{{ x.complent_id }}</th>
        <th>{{ x.complent_type }}</th>
        <th>{{ x.complient_name }}</th>
        <th>{{ x.date_of_complent }}</th>
        <th>{{ x.description }}</th>
        <th>{{ x.proof }}</th>
        <th>{{ x.station_id }}</th>
        <th>{{ x.location }}</th>

        </tr>
    {% endfor %}
</table></center>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html></doctype>